div {
  padding: 10px;
  margin: 5px;
  width: 200px;
  height: 50px;
  display: flex;
  text-align: center;
  border: 3px solid black;
  border-radius: 15%;
}

#apple-shelf {
  background-color: white;
}

#orange-shelf {
  background-color: white;
}
