* {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

body {
  background: green;
}

h1 {
  color: goldenrod;
}

#message-el {
}

button {
  color: #016f32;
  /* width: 150px; */
  background: goldenrod;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

#start-game,
#new-card {
  width: 120px;
}
